In [11]:
import pandas as pd

In [12]:

titanic = pd.read_csv("../csv/train.csv")
titanic
titanic = titanic.drop(["PassengerId", "Name", "SibSp", "Parch", "Ticket","Fare","Cabin"], axis=1)

titanic.isna().sum()
titanic['Age'].fillna(titanic["Age"].mean(), inplace=True)
titanic['Embarked'].fillna('N', inplace=True)
titanic.isna().sum()
titanic
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

encoder.fit_transform(titanic["Sex"])
label = encoder.transform(titanic["Sex"])
label
encoder.fit_transform(titanic["Embarked"])
labels = encoder.transform(titanic["Embarked"])
labels
titanic["Sex"]=label
titanic["Embarked"]=labels
titanic
titanic_Data = titanic.Pclass, titanic.Sex, titanic.Age, titanic.Embarked
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
dt_clf = DecisionTreeClassifier(random_state=120)

data = titanic_Data
label_t = titanic.Survived

scores = cross_val_score(dt_clf, data, label_t, scoring='accuracy', cv=5)

label_t.shape

data.shape

ValueError: Found input variables with inconsistent numbers of samples: [4, 891]

In [ ]:
titanic = pd.read_csv("../csv/train.csv")

In [ ]:
titanic = titanic.drop(["PassengerId", "Name", "SibSp", "Parch", "Ticket","Fare","Cabin"], axis=1)

titanic.isna().sum()
titanic['Age'].fillna(titanic["Age"].mean(), inplace=True)
titanic['Embarked'].fillna('N', inplace=True)
titanic.isna().sum()
titanic

     Survived  Pclass     Sex        Age Embarked
0           0       3    male  22.000000        S
1           1       1  female  38.000000        C
2           1       3  female  26.000000        S
3           1       1  female  35.000000        S
4           0       3    male  35.000000        S
..        ...     ...     ...        ...      ...
886         0       2    male  27.000000        S
887         1       1  female  19.000000        S
888         0       3  female  29.699118        S
889         1       1    male  26.000000        C
890         0       3    male  32.000000        Q

[891 rows x 5 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

encoder.fit_transform(titanic["Sex"])
label = encoder.transform(titanic["Sex"])

encoder.fit_transform(titanic["Embarked"])
labels = encoder.transform(titanic["Embarked"])

titanic["Sex"]=label
titanic["Embarked"]=labels
titanic

     Survived  Pclass  Sex        Age  Embarked
0           0       3    1  22.000000         3
1           1       1    0  38.000000         0
2           1       3    0  26.000000         3
3           1       1    0  35.000000         3
4           0       3    1  35.000000         3
..        ...     ...  ...        ...       ...
886         0       2    1  27.000000         3
887         1       1    0  19.000000         3
888         0       3    0  29.699118         3
889         1       1    1  26.000000         0
890         0       3    1  32.000000         2

[891 rows x 5 columns]

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [15]:
titanic_df = pd.read_csv("../csv/train.csv")

y_titanic_df = titanic_df['Survived']
X_titanic_df = titanic.drop(['Survived'],axis=1)

X_titanic_df

     Pclass  Sex        Age  Embarked
0         3    1  22.000000         3
1         1    0  38.000000         0
2         3    0  26.000000         3
3         1    0  35.000000         3
4         3    1  35.000000         3
..      ...  ...        ...       ...
886       2    1  27.000000         3
887       1    0  19.000000         3
888       3    0  29.699118         3
889       1    1  26.000000         0
890       3    1  32.000000         2

[891 rows x 4 columns]

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X_titanic_df, y_titanic_df,test_size=0.2, random_state=110)

In [24]:
dt_clf = DecisionTreeClassifier(random_state=16)

dt_clf.fit(X_train, y_train)
dt_pred = dt_clf.predict(X_test)

print('정확도: {0:4f}'.format(accuracy_score(y_test,dt_pred)))

정확도: 0.821229

In [26]:
from sklearn.model_selection import KFold
import numpy as np

In [34]:
## 성능 지표는 정확도(accuracy), 교차 검증 세트는 3개
scores = cross_val_score(dt_clf, X_titanic_df, y_titanic_df, scoring='accuracy', cv=12)
print('교차 검증별 정확도 : ', np.round(scores,4))
print('평균 검증 정확도:', np.round(np.mean(scores),4))

교차 검증별 정확도 :  [0.6933 0.72   0.7867 0.8108 0.8378 0.8108 0.7568 0.8378 0.8243 0.7838
 0.8243 0.8243]
평균 검증 정확도: 0.7926

In [35]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split

In [47]:
parameters = {'max_depth' : [10], 'min_samples_split':[2,3]}

In [48]:
## param_grid의 하이퍼 파라미터들을 3개의 train, test set fold로 나누어서 테스트 수행 설정
## refit = True 가 기본값임 True 이면 가장 좋은 파라미터 설정으로 재학습 시킴
grid_dt_clf = GridSearchCV(dt_clf, param_grid=parameters, cv=3, refit=True)

## 붓꽃 train 데이터로 param_grid의 하이퍼 파리미터들을 순차적으로 학습/평가
grid_dt_clf.fit(X_train, y_train)

## GridSearchCV 결과 추출하여 DataFrame으로 변환
scores_df = pd.DataFrame(grid_dt_clf.cv_results_)
scores_df

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_max_depth,param_min_samples_split,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.012673,0.001191,0.003288,0.000508,10,2,"{'max_depth': 10, 'min_samples_split': 2}",0.785714,0.822785,0.810127,0.806209,0.015385,1
1,0.006977,0.001637,0.003329,0.001253,10,3,"{'max_depth': 10, 'min_samples_split': 3}",0.785714,0.827004,0.801688,0.804802,0.017000,2

{'max_depth': 3, 'min_samples_split': 2}

In [45]:
print(grid_dt_clf.best_params_)

{'max_depth': 3, 'min_samples_split': 2}